<!DOCTYPE HTML>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>SCT example</title>
</head>
<body>
Prices are:<br>
Rice: ${rice}<br>
Wheat: ${wheat}<br>
Pluses: ${pulses}<br>
Dry Friuts: ${dryFruits}<br>
Chocolates: ${chocolates}<br>
</body>
</html>