<!DOCTYPE HTML>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>SCT example</title>
</head>
<body>
Marks Obtained:<br>
Physics: ${physics}<br>
Chemistry: ${chemistry}<br>
Maths: ${maths}<br>
English: ${english}<br>
Hindi: ${hindi}<br>
</body>
</html>